# Project .gitignore
# Secrets
/main/app_secrets.py

#Idea files
.idea/
# SOURCE: https://gist.github.com/santoshpurbey/6f982faf1eacdac153ffd86a3a694239
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
.vscode
# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.DS_Store
*.sqlite3
# 
media/*
!media/categories
media/categories/*
!media/categories/1.jpg
!media/categories/1a.jpg
!media/categories/1b.jpg
!media/categories/1c.jpg
!media/categories/1d.jpg
!media/categories/1e.jpg
!media/categories/2.jpg
!media/categories/2a.jpg
!media/categories/2b.jpg
!media/categories/2c.jpg
!media/categories/3.jpg
!media/categories/3a.jpg
!media/categories/3b.jpg
!media/categories/3c.jpg
!media/categories/3d.jpg
!media/categories/3e.jpg
!media/categories/4.jpg
!media/categories/4a.jpg
!media/categories/4b.jpg
!media/categories/4c.jpg
!media/categories/5.jpg
!media/categories/5c.png
!media/categories/5a.png
!media/categories/5b.png

!media/recipes
media/recipes/*
!media/recipes/3-bit.jpeg
!media/recipes/babka-z-coca-cola.jpeg
!media/recipes/barszcz-czerwony-czysty.jpeg
!media/recipes/biala-kielbasa-z-kiszona-kapusta.jpeg
!media/recipes/bitki-wolowe-w-sosie.jpeg
!media/recipes/bruschetta-z-pomidorami-suszonymi.jpeg
!media/recipes/calzone.jpeg
!media/recipes/carpaccio-z-burakow.jpeg
!media/recipes/chipsy-solone.jpeg
!media/recipes/churros-z-sosem-czekoladowym-z-chili.jpeg
!media/recipes/ciasteczka-cynamonowe.jpeg
!media/recipes/dip-z-baklazana.jpeg
!media/recipes/filet-z-kurczaka-w-sosie-pieczarkowym-z-serkiem-mascarpone.jpeg
!media/recipes/filet-z-kurczaka-w-sosie-pomidorowym.jpeg
!media/recipes/francuski-krem-mleczno-jajeczny-creme-brulee.jpeg
!media/recipes/frittata-z-bobem.jpeg
!media/recipes/frytki-z-obierek-ziemniaczanych.jpeg
!media/recipes/grillowane-piersi-z-kurczaka-w-boczku.jpeg
!media/recipes/grzaniec-bez-alkoholu.jpeg
!media/recipes/imprezowe-ciasteczka-serowo-cebulowe-z-ziolami.jpeg
!media/recipes/kompot-z-suszu.jpeg
!media/recipes/lazanki-z-kielbasa.jpeg
!media/recipes/lemoniada-uodparniajaca-na-infekcje.jpeg
!media/recipes/malze-w-sosie-winno-czosnkowym.jpeg
!media/recipes/mega-kwasny-kapusniak-z-duza-iloscia-pieprzu-ziolowego.jpeg
!media/recipes/nalesniki-smietanowe.jpeg
!media/recipes/napoleonka-na-ciescie-francuskim.jpeg
!media/recipes/orzechy-solone.jpeg
!media/recipes/pasta-z-ciecierzycy.jpeg
!media/recipes/pasta-z-piklinga.jpeg
!media/recipes/pierogi-pieczone-z-nadzieniem-pieczarkowym.jpeg
!media/recipes/placuszki-nadziewane-nutella.jpeg
!media/recipes/prawdziwe-frytki-z-mcdonald-s.jpeg
!media/recipes/roladki-z-tortilli-z-jajkiem-avocado-i-rzezucha.jpeg
!media/recipes/schab-po-bieszczadzku.jpeg
!media/recipes/sernik-warzony.jpeg
!media/recipes/smoothie-z-mango-ananasem-i-marakuja.jpeg
!media/recipes/surowka-na-slodko-z-kiszonej-kapusty-i-marchewki-z-dodatkiem-jablka.jpeg
!media/recipes/tarta-kakaowo-waniliowa-z-mascarpone.jpeg
!media/recipes/tatar-ze-sledzia-z-mandarynkowym-twistem.jpeg
!media/recipes/tosty-francuskie-na-slodko.jpeg
!media/recipes/tosty-francuskie-na-slono.jpeg
!media/recipes/zajac-w-kolorowym-pieprzu-duszony-w-smietanie.jpeg
!media/recipes/zakwas-buraczany.jpeg
!media/recipes/zapiekanka-z-makaronem-i-tunczykiem-szybki-obiad.jpeg
!media/recipes/zupa-kalafiorowa-na-mleku-kokosowym.jpeg
!media/recipes/zupa-pieczarkowa-z-kasza-peczak.jpeg
!media/recipes/zupa-pomidorowa-z-pomidorow-z-puszki.jpeg

*.pyc
*.db
*.pid

# Ignore Django Migrations in Development if you are working on team

# Only for Development only
# **/migrations/**
# !**/migrations
# !**/migrations/__init__.py