[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-extensions = "*"
django-vote = "*"
pydotplus = "*"
django-registration = "==3.1.1"
Django = "==3.1.2"
pillow = "*"
django-summernote = "*"

[requires]
python_version = "3.7"
