{% extends "popcorn/base.html" %}
{% load i18n %}
{% block title %}{% trans "Login" %}{% endblock %}
{% block content %}
    {% url 'password_reset' as auth_pwd_reset_url %}
    {% url 'django_registration_register' as register_url %}

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
            {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
            <ul class="errorlist nonfield">
                {% for error in form.non_field_errors %}
                    <li>{% blocktrans %}{{ error }}{% endblocktrans %}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}


    <div class="container top-buffer-big">
        <div class="row align-items-top">
            <div class="col py-2">
                <form method="post" action="{% url 'login' %}">{% csrf_token %}

                    <h2 class="top-buffer naglowek cstm-shadow">Logowanie</h2>
                    <input type="text" placeholder="Nazwa użytkownika" name="username" autofocus=""
                           autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"
                           class="form-control top-buffer inputBox cstm-shadow">
                    <input type="password" name="password" autocomplete="current-password" required="" id="id_password"
                           class="form-control top-buffer inputBox cstm-shadow" placeholder="Hasło">
                    <!--input type="hidden" name="next" value="{{ next }}" /-->

                    <div class="checkbox mb-3 top-buffer">
                        <label>
                            <input type="checkbox" value="remember-me"> Zapamiętaj mnie
                        </label>
                    </div>

                    <button class="btn classic-btn cstm-shadow btn-lg btn-block" type="submit">{% trans "login" %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                        </svg>

                    </button>
                </form>
            </div>
            <div class="col py-2 d-flex flex-column">
                <h2 class="naglowek top-buffer cstm-shadow">Nie masz konta?</h2>
                <h5 class="mt-auto text-center">Slogan namawiający do założenia konta.</h5>
                <button class="mt-auto btn classic-btn cstm-shadow btn-lg btn-block" type="submit"
                        onclick="location.href = '{{ register_url }}'">Zarejestruj się
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </div>
        </div>

    </div>



    <!--TODO IMPLEMENT-->
    <!--p>{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Forgot your password?</a>{% endblocktrans %}</p-->

    {# NOTE: settings is not put into the template by default, you have to override the login view with extra_context #}
    {# See https://docs.djangoproject.com/en/2.2/topics/auth/default/#django.contrib.auth.views.LoginView #}
    {% if settings.REGISTRATION_OPEN %}
        <p>{% blocktrans %}<a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
