{% extends "popcorn/base.html" %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <div class="card margin-big ">
        <div class="card-body">
            <div class="col">
                <h2 class="card-title text-center">{{ recipe.name }}</h2>
                <h4 class="text-center">Autor: {{ recipe.author.auth_user }}</h4>
                <h4 class="text-center">Czas wykonania: {{ recipe.preparation_time }} min</h4>
                <h4 class="text-center">Ilość porcji: {{ recipe.servings_count }}</h4>
                <h4 class="text-center">Trudność wykonania: {{ recipe.difficulty }}</h4>
                <!--TODO: Add ingredients -->
                <!--TODO: Add categories -->
                <!--TODO: Add voting-->
                <a class="nav-link" href="{% url 'voteup' recipe.slug %}">Like</a>
                <a class="nav-link" href="{% url 'votedown' recipe.slug %}">Unlike</a>
                <h4 class="text-center">Głosy: {{ recipe.vote_score }}</h4>
                <h4 class="text-center"></h4>
                <!--TODO: Add food icon-->
                {{ recipe.content|safe }}

                <!--TODO: Add comments-->
            </div>
        </div>
    </div>
{% endblock %}
