{% extends "popcorn/base.html" %}
{% block title %}{{ recipe.name }}{% endblock %}

{% block content %}
    <div class="card margin-big ">
        <div class="card-body">
            <div class="col">
                <h2 class="card-title text-center">{{ recipe.name }}</h2>
                {% if recipe.author %}
                    <h4 class="text-center">Autor: {{ recipe.author }}</h4>
                {% else %}
                    <h4 class="text-center">Autor: Brak</h4>
                {% endif %}
                <h4 class="text-center">Czas wykonania: {{ recipe.preparation_time }} min</h4>
                <h4 class="text-center">Ilość porcji: {{ recipe.servings_count }}</h4>
                <h4 class="text-center">Trudność wykonania: {{ recipe.get_difficulty_display }}</h4>
                <!--TODO: Add scaling-->
                {% if recipe.icon %}
                    <img src="{{ recipe.icon.url }}">
                {% endif %}

                <!--TODO: Add ingredients -->
                <!--TODO: Add categories -->
                <!--TODO: Add voting-->
                <a class="nav-link" href="{% url 'voteup' recipe.slug %}">Like</a>
                <a class="nav-link" href="{% url 'votedown' recipe.slug %}">Unlike</a>
                <h4 class="text-center">Głosy: {{ recipe.vote_score }}</h4>
                <h4 class="text-center"></h4>
                <!--TODO: Add food icon-->
                {{ recipe.content|safe }}
                <br></br>

                {% if user.is_authenticated %}
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                    </form>
                {% else %}
                    <p>Zaloguj się aby mieć możliwość dodawania komentarzy.</p>
                {% endif %}

                <!--TODO: Add comments-->
                <ol>
                    {% for c in comments %}
                        {% if c.author %}
                            <a>Autor: {{ c.author }} </a>
                        {% else %}
                            <a>Autor: [Skasowany] </a>
                        {% endif %}
                        <br>
                        <a>{{ c.content|safe }} </a>
                        <hr>
                    {% endfor %}
                </ol>
                
            </div>
        </div>
    </div>
{% endblock %}
