{% extends "popcorn/base.html" %}
{% load static %}
{% block title %}
    {{ recipe.name }}
{% endblock %}
{% block additional_js %}
    <script src="{% static 'popcorn/js/recipe.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="card margin-big ">
        <div class="card-body">
            <div class="col">
                <div class="col">
                    <div class="text-right">
                        <a class="btn classic-btn" href=" {% url 'edit_recipe' recipe.slug %}">Edytuj</a>
                    </div>
                </div>
                <h2 class="card-title text-center">{{ recipe.name }}</h2>
                {% if recipe.author %}
                    <h4 class="text-center">Autor: {{ recipe.author }}</h4>
                {% else %}
                    <h4 class="text-center">Autor: Brak</h4>
                {% endif %}
                <h4 class="text-center">Czas wykonania: {{ recipe.preparation_time }} min</h4>
                <h4 class="text-center">Ilość porcji: {{ recipe.servings_count }}</h4>
                <h4 class="text-center">Trudność wykonania: {{ recipe.get_difficulty_display }}</h4>
                <!--TODO: Add scaling-->
                {% if recipe.icon %}
                <div class="span3 top1">  
                    <div class="row">
                        <div class="span3 food1">
                            <img  src="{{ recipe.icon.url }}" class="image-responsive">
                        </div>
                    </div>
                </div>
                {% endif %}

                <!--TODO: Add ingredients -->
                <!--TODO: Add categories -->
                <!--TODO: Add voting-->
                {% if user.is_authenticated %}
                    {% if vote_status == 'up' %}
                        <a class="nav-link vote vote-up" id="recipe-vote-button-up">Like</a>
                        <a class="nav-link vote" id="recipe-vote-button-down">Unlike</a>
                    {% elif vote_status == 'down' %}
                        <a class="nav-link vote" id="recipe-vote-button-up">Like</a>
                        <a class="nav-link vote vote-down" id="recipe-vote-button-down">Unlike</a>
                    {% else %}
                        <a class="nav-link vote" id="recipe-vote-button-up">Like</a>
                        <a class="nav-link vote" id="recipe-vote-button-down">Unlike</a>
                    {% endif %}
                {% else %}
                    <h4>Chcesz głosować? <a href="{% url 'login' %}">Zaloguj się!</a></h4>
                {% endif %}
                <h4 class="text-center" id="recipe-vote-count">Głosy: {{ recipe.vote_score }}</h4>
                <h4 class="text-center"></h4>
                <!--TODO: Add food icon-->
                {{ recipe.content|safe }}
                <br></br>

                {% if user.is_authenticated %}
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form.as_p }}
                        {% csrf_token %}

                            <div class="col">
                                <div class="text-right">
                                    <button type="submit" class="btn classic-btn cstm-shadow btn-lg btn-block">Odpowiedz</button>
                                </div>
                            </div>

                    </form>
                {% else %}
                    <p>Zaloguj się aby mieć możliwość dodawania komentarzy.</p>
                {% endif %}

                <!--TODO: Add comments-->
                <ol>
                    {% for c, status in comments %}
                        {% if c.author %}
                            <a><strong>Autor:</strong> {{ c.author }} </a>
                        {% else %}
                            <a><strong>Autor:</strong> [Skasowany] </a>
                        {% endif %}
                        <div class="text" id="comment-vote-count-{{ c.id }}">Głosy: {{ c.vote_score }}</div>
                        {% if user.is_authenticated %}
                            {% if status == 'up' %}
                                <a class="nav-link vote vote-up" id="comment-vote-button-up-{{ c.id }}">Like</a>
                                <a class="nav-link vote" id="comment-vote-button-down-{{ c.id }}">Unlike</a>
                            {% elif status == 'down' %}
                                <a class="nav-link vote" id="comment-vote-button-up-{{ c.id }}">Like</a>
                                <a class="nav-link vote vote-down" id="comment-vote-button-down-{{ c.id }}">Unlike</a>
                            {% else %}
                                <a class="nav-link vote" id="comment-vote-button-up-{{ c.id }}">Like</a>
                                <a class="nav-link vote" id="comment-vote-button-down-{{ c.id }}">Unlike</a>
                            {% endif %}
                        {% endif %}
                        <br>
                        <a>{{ c.content|safe }} </a>
                        <hr>
                    {% endfor %}
                </ol>
                
            </div>
        </div>
    </div>
{% endblock %}
